<h1>Hello, World</h1>

<form method='GET' action="/getname">
  <div class="container">
      <div class="prompt left-pane">
          <span>Give us your name and we'll greet you</span>
      </div>
      <div class="right-pane">
          <input type="text" id="name" name="name" />
      </div>
  </div>
  <div class="submit-name">
      <input type="submit" value="get the name" />
  </div>
</form>
